body {
    background: url("/images/bg.png") repeat 0 0;
    background-color: #DFDFDF;
}

.theme-soniejka .sidebar {
  background-color: #C75154;

}
.theme-soniejka .content a,
.theme-soniejka .related-posts li a:hover {
  color: #DA332B;
}

.logo {
    display: block;
    width: 100px;
    height: 100px;
    content: url("/images/logo.jpg");
    border-radius: 50px;
    margin: 0 auto;
}

.logo-link {
    text-align: center;
}
.logo-link:hover {
    text-decoration: none;
}

.sidebar-about h1 {
  color: #fff;
  margin-top: 10px;
  font-size: 2.75rem;
}

.logo:hover{
    box-shadow: 0px 0px 10px #555555;
    transform: scale(1.01,1.01);
    -webkit-transform: scale(1.01,1.01);
    -ms-transform: scale(1.01,1.01);

}

.content {
    background-color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    padding-top: 1rem;
}

.lead {
  font-size: 0.9rem;
  font-weight: 300;
}

.social {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.social span {
    color: #DA332B;
}

.right {
    float: right;
}

.posts-all-link {
    text-align: right;
    font-size: 1.2rem;
}

.sharing{
  margin: 1rem;
}

.sharing-title {
  color: #fff;
  font-size: 1.5rem;
}

.sharing a {
  color: rgba(255,255,255,.5);
}

.sharing a:hover {
  text-decoration: none;
  color: rgba(255,255,255,.7);
}

.post > .fa-comment {
    color: rgba(0,0,0,.2);
}

.post-in-list > .post-title {
    font-size: 1.2rem;
    font-weight: 500;
}

.post-in-list > .post-description {
    font-size: 0.8rem;
}

.post-in-list > .moment {
    font-size: 0.9rem;
    color: rgba(0,0,0,.5);
}
